{% load static %}
<!DOCTYPE html>
<head>
    {% include 'head.html' %}
    <title>home | ryaasabsar</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="col">
        <form action='' method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <div class="centre-items">
                <input type="submit" class="black-border black-background-btn btn btn-primary" value="Add Schedule">
            </div>
        </form>
    </div>
</body>