{% load static %}
<!DOCTYPE html>
<head>
    {% include 'head.html' %}
    <title>home | ryaasabsar</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="col">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Location</th>
                    <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sch in schedule %}
                        <tr>
                        <td>{{ sch.date|date:"l" }}</td>    
                        <td>{{ sch.date }}</td>
                        <td>{{ sch.time }}</td>
                        <td>{{ sch.activity }}</td>
                        <td>{{ sch.activity_type }}</td>
                        <td>{{ sch.place }}</td>
                        <td><a href="{% url 'scheduleremove' id=sch.id %}"><button class="btn btn-icon btn-danger"></button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>