{% load static %}
<!DOCTYPE html>
<head>
    {% include 'head.html' %}
    <title>gallery | ryaasabsar</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="white-background photo">
        <div class="container d-flex flex-row flex-wrap">
            <img src="{% static 'gallery1.jpg' %}" class="col-sm mr-3 mb-2">
            <div class="col-sm">
                <p>
                    This photo was taken when Jakarta Blackout Day. 
                    That was a terrible day, commuter line shut down and so MRT. 
                    On that day, I was live reporting <b>COMPFEST</b> Academy on Gojek Office. 
                    When I want to go back to my home, 
                    I used Transjakarta and a long queue waiting for me. 
                </p>
            </div>
        </div>
    </div>
    <div class="black-background photo">
        <div class="container d-flex flex-row flex-wrap">
            <img src="{% static 'gallery2.jpg' %}" class="col-sm mr-3 mb-2">
            <div class="col-sm">
                <p>
                    Loneliness. 
                </p>
            </div>
        </div>
    </div>
</body>