{% load static %}
<!DOCTYPE html>
<head>
    {% include 'head.html' %}
    <title>home | ryaasabsar</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="white-background introduce" id="home">
        <div class="container">
            <p>Hello, I'm</p>
            <h1>Nanda Ryaas Absar</h1>
            <p id="introduce-paragraph">
                Currently Studying in <b>Computer Science</b>
                at <br> <b>Universitas Indonesia</b>
            </p>
        </div>
    </div>
    <div class="black-background about-me" id="about-me">
        <div class="container d-flex flex-row align-items-center flex-wrap justify-content-center">
            <div class="mb-2">
                <img src="{% static 'photo_rounded.png' %}" class="img-fluid" alt="image">
            </div>
            <div class="col">
                <p>
                    Interest in photography, end up with studying Computer Science and I loved it.
                    Currently developing my skills on <b>Web Developing</b> and <b>UI/UX</b>
                </p>
            </div>
        </div>
    </div>
    <div class="white-background experiences" id="experiences">
        <div class="container d-flex flex-row align-items-center">
            <div class="p-2">
                <h1>
                    Education
                </h1>
                <h2>
                    Universitas Indonesia, Bachelor of Computer Science
                </h2>
                <p>
                    - Teaching Assistant for Programming Foundations 1<br>
                    - Mentor of Dasar-Dasar Pemrograman 0 Quanta
                </p>
                <br>
                <br>
                <h1>
                    Experience
                </h1>
                <h2>
                    Deputy of Media Bureau, BEM Fasilkom UI
                </h2>
                <p>
                    - Manage publications of BEM Fasilkom UI<br>
                    - Editor in chief of “Boolean 22”<br>
                    - Controlling staff performance
                </p>
            </div>
        </div>
    </div>
    <div class="black-background contact" id="contact">
        <div class="spacing-top-bottom container d-flex flex-column align-items-center justify-content-center mt-5">
            <div>
                <h1>Reach Me Out.</h1>
            </div>
            <br>
            <div class="ml-5 d-flex flex-row align-items-center flex-wrap justify-content-center">
                <a href="mailto:ryaasabsar@gmail.com"><img src="{% static 'mail.png' %}" class="resize spacing img-fluid" alt="mail"></a>
                <a href="https://www.instagram.com/glowfanatic/"><img src="{% static 'instagram.png' %}" class="resize spacing img-fluid" alt="instagram"></a>
                <a href="https://www.linkedin.com/in/ryaasabsar/"><img src="{% static 'linkedin.png' %}" class="resize spacing img-fluid" alt="linkedin"></a>
                <a href="https://www.twitter.com/glowfanatic"><img src="{% static 'twitter.png' %}" class="resize spacing img-fluid" alt="mail"></a>
            </div>    
        </div>
    </div>
</body>