<nav class="navbar navbar-expand-lg navbar-light bg-white color-navbar sticky-top">
    <a class="navbar-brand ml-5" href="#">ryaasabsar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse small-font" id="navbarNav">
        <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item active ml-4">
            <a class="nav-link" href="{% url 'home' %}#home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-link" href="{% url 'home' %}#about-me">About Me</a>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-link" href="{% url 'home' %}#experiences">Experiences</a>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
        </li>
        <li class="nav-item dropdown ml-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'schedule' %}">Add</a>
                <a class="dropdown-item" href="{% url 'scheduleresult' %}">Show</a>
            </div>
        </li>
        <li class="nav-item ml-4">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
        </ul>
    </div>
</nav>